@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Header Style */
.topbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.logo{}
.logo h1{
  font-size: 40px;
  font-weight: 800;
}
.logo h1 span{
  color: orange;
}
.menu ul{
  display: flex;
  align-items: center;
}
.menu li{
  list-style: none;
  margin-left: 30px;
}
.menu li a{
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
}
.btn{
  border: none;
  background-color: rgb(235, 72, 43);
  padding: 15px 35px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}
/* banner style */
.banner{
  display: flex;
  align-items: center;
}
.banner-text{}
.banner-text h3{}
.banner-text p{}
.banner-text h1{}
.banner-img{}
.banner-img img{
  width: 500px;
}