@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Header Style */
header{
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
nav{
  background-image: url('../images/developer.png');
  background-repeat: no-repeat;
}

.topbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 45px 0;
}
.logo{}
.logo h1{
  font-size: 40px;
  font-weight: 800;
}
.logo h1 span{
  color: orange;
}
.menu ul{
  display: flex;
  align-items: center;
}
.menu li{
  list-style: none;
  margin-left: 30px;
}
.menu li a{
  font-size: 17px;
  text-transform: capitalize;
  text-decoration: none;
}
.btn{
  border: none;
  background-color: rgb(235, 72, 43);
  padding: 15px 35px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* banner style */
.banner{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 30px 0px 150px;
  
}
.banner-text{}
.banner-text h3{
  font-size: 30px;
  font-weight: 600;
  color: #474747;
}
.banner-text p{
  margin-bottom: 20px;
}
.banner-text h1{
  font-size: 50px;
  margin-bottom: 20px;
}
.banner-img{}
.banner-img img{
  width: 500px;
}
.contact{
  color: #111;
  background-color: #fff;
  padding: 15px 35px;
  margin-left: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}